<h1>Welcome to Rails Girls Houston</h1>
<h3>This is your app's AWAY page</h3>
<p>Here is a kitten!</p>
<img src="http://placekitten.com/256/256">
  <p>Today is
  <%= Time.now %>
  <% [[1,2],[3,4],[5,6]].each do |n,x| %>
  n <%= n %>
  x <%= x %>
  n+x <%= n+x %> <br>
<% end %>

  
  </p>